<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Rishita">
  <meta name="Description" content="calculation">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2249/2249539.png" type="image/icon type">
  <title>Percentage</title>  


  <style>
    .center {
      text-align: center;
      color:yellow;
    }
    </style>
     <style>
      body {
        background-color:indigo;
      }
      </style>
      <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
    <style>input{

      margin: auto;
      
      display: block;
      
      }</style>
</head>
<body>
  <h1  class="center" style="color:yellow;" >PERCENTAGE  CALCULATION</h1>
  <img src="https://static.vecteezy.com/system/resources/previews/004/836/366/non_2x/green-yellow-post-it-and-black-calculator-on-gray-black-background-free-photo.jpg" alt="cal page img" width="500">
    
  <hr>
  <p class="center" style="color:yellow;" ><i>Your percentage is:</i></p>
  <p class="center" style="color:yellow;" ><b>{{percent}}%</b></p>
  <hr>

  
  <form action="/login" method="get">
    <input type="submit" name="exit" value="EXIT"/>
  </form>

  <form action="/"  method="get">  
      <input type="submit" name="home_button" value="HOME">
      </form>
      
  
  
  <br> <br> 

  </div>
  </form>

</body>
</html>