<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Rishita">
  <meta name="Description" content="percent_cal">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2249/2249539.png" type="image/icon type">
  <title>Percentage</title>  

  <style>
    .center {
      text-align: center;
      color:yellow;
    }
    
    
    </style>
    <style>
      body {
        background-color:indigo;
      }
    </style>
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      </style>
</head>
<body>
  
  
  <h1 class="center"><b>Welcome User!!</b> </h1>
  
  <p class="center" ><i><b>You can calculate your percentage on this site</b></i></p>
  <p style="color:yellow;" >Register yourself if you are a new user</p>
  
 
  <form action="/register"  method="get">  
    <input type="submit" name="reg_button" value="REGISTER">
    </form>
    <br><hr>
    <br><br>
  <p style="color:yellow;"> Login to your account if already registered</p>
  <form action="/login" method="get">
    <input  type="submit" name="login_button" value="LOGIN">
  </form>
  <img src="https://thumbs.dreamstime.com/b/new-mindset-new-results-words-letter-written-piece-memo-paper-work-desk-top-view-motivational-self-development-business-125647636.jpg" alt="home page image">
    <br><br>

    
    
  
  
  <br> <br> 

  </div>
  </form>

</body>
</html>