<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Rishita">
  <meta name="Description" content="login">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2249/2249539.png" type="image/icon type">
  <title>Percentage</title>  

  <style>
    .center {
      text-align: center;
      color:yellow;
    }
    </style>
     <style>
      body {
        background-color:indigo;
      }
      </style>
      <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
    <style>input{

      margin: auto;
      
      display: block;
      
      }</style>

</head>
<body>
  <h1 class="center" style="color:yellow;"><b>User login</b></h1>
  <img src="https://cdn2.vectorstock.com/i/1000x1000/47/61/yellow-login-form-template-design-background-vector-14854761.jpg" alt="login page img" width="900" height="500">
  <hr>
  <p><b><i style="color:yellow;"><strong>--------------------------------------------------------------------------------------------------------------------------------Enter your login credentials------------------------------------------------------------------------------------------------------------------------</strong></i></b></p>
  <hr>

  <form action="/welcome" action="#" method="post">  
    <br> <br>
    <input type="email" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="email"  placeholder="Enter registered email to login" required/>
    <br><hr>
    <input type="password" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="pass"  placeholder="Enter your password" required/>
    <br><br>

  <input type="submit" value="LOGIN">
  <br> <br> 

  </div>
  </form>

</body>
</html> 