<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Rishita Sharma">
  <meta name="Description" content="Percentage">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2249/2249539.png" type="image/icon type">
  <title>Percentage</title>  

  <style>
    .center {
      text-align: center;
      color:yellow;
    }
    </style>
     <style>
      body {
        background-color:indigo;
      }
      </style>
      <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        <style>input{

          margin: auto;
          
          display: block;
          
          }</style>
        

</head>
<body>
  <h1 class="center" style="color:yellow;">New user kindly register</mark></h1>
  <hr>
  <img src="https://img.freepik.com/premium-photo/hand-pushing-button-with-register-here-word-yellow-background_121826-324.jpg?w=2000" alt="reg page img" width="500">
  <p class="center" style="color:yellow;"><b><i>--------------Enter your details---------------</i></b></p>
  <hr>

  <form action="/login" action="#" method="post">  

    <input type="text" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="name"  placeholder="Enter your name" required/>  
    <br><br>  
    <input type="age" style="height: 9.5%; width: 30%;" background-color: green; maxlength="2" minlength="1" min="10" max="100" name="age"  placeholder="Enter your age" required/>
    <br> <br>
    <input type="password" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="pwd"  placeholder="Set your password" required/>
    <br><br>
    <input type="date" style="height: 9.5%; width: 30%;" background-color: green; maxlength="2022-12-30" minlength="2002-12-30" name="dob"  placeholder="Enter your date of birth" required/>
    <br><br>
    <input type="email" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="email"  placeholder="Enter your mail" required/>
    <br><br>
    <input type="school" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="school"  placeholder="Enter name of your school" required/>
    <br><br>
    <input type="board" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="board"  placeholder="Enter name of your board" required/>
    <br><br>
    
    <hr>
    
  <input type="submit" value="SUBMIT">
  <br> <br> 

  </div>
  </form>

</body>
</html>